# Base de Datos 
DB_USER=proyecto_final
DB_PASS=tu_password_aqui
DB_NAME=expense_tracker
DB_PORT=5432

# Auth0 (crea tu app en https://manage.auth0.com) 
AUTH0_DOMAIN=tu-tenant.us.auth0.com
AUTH0_CLIENT_ID=tu_client_id
AUTH0_AUDIENCE=https://expense-tracker-api

# URLs 
FRONTEND_URL=http://localhost:5173
VITE_API_URL=http://localhost:5000
