# Dependencias
node_modules/

# Variables de entorno (nunca al repo)
.env
.env.local
.env.*.local

# El .env.example SÍ va al repo (es solo la plantilla)
!.env.example

# Builds
dist/
build/

# Logs
*.log
npm-debug.log*